@model IEnumerable<Code_.Models.Ability>

@{
    ViewData["Title"] = "Lista umiejętności";
}

<h1 class="margin">Dodaj nową umiejętność</h1>

<p>
    <a asp-action="Create">Dodaj umiejętność</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczególy</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Zapomnij</a>
            </td>
        </tr>
}
    </tbody>
</table>
